.post-content
  max-width: 60%
  margin: 0 auto
  padding: 20px 10px
  height: calc(100vh - 96px)
  overflow: auto
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

  .post-title
    color: $theme-secondary

@media screen and (max-width: 1000px)
  .post-content
    max-width: 80%
    margin: 0

@media screen and (max-width: 600px)
  .post-content
    max-width: 100%
    margin: 0