<section id="right-sidebar">

    <div class="right-sidebar-content">

        <h2 class="right-sidebar-title">Categories</h2>
        <ul>
            <li><a href="/news/">News</a></li>
            <li><a href="/analysis/">Analysis</a></li>
            <li><a href="/rumors/">Rumors</a></li>
            <li><a href="/draft/">Draft</a></li>
            <li><a href="/game-breakdowns/">Game Breakdowns</a></li>
        </ul>
<!-- 
        <h2 class="right-sidebar-title">Archives</h2>
        <ul>
            <li>December 2017</li>
            <li>January 2018</li>
            <li>Feburary 2018</li>
        </ul>
 -->
        <h2 class="right-sidebar-title">Season</h2>
        <ul>
            <li><a href="/2018/">2017 - 2018</a></li>
            <li><a href="/2017/">2016 - 2017</a></li>
        </ul>
        
    </div>
    
</section>
