#main-content
  height: calc(100vh - 50px)

  .article-content
    height: 100%
    max-width: 800px
    margin: 0 auto
    padding: 10px

    .article
      margin: 10px
      border: 3px solid $theme-secondary

      .article-title
        padding-top: 10px
        padding-left: 20px
        
      .article-category
        padding-left: 20px

      .article-author
        padding-left: 20px
        padding-bottom: 10px
